#text-danger {
    color: red;
}

#btn-danger {
    background-color: red !important;
}
#bg-danger {
    background-color: red !important;

}

#forme-width {
    width: 80%;
}

#lien {
    color: red !important;
}
.cool {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

#souligne {
    text-decoration: underline red;
}